{% set resourceVersion = '1.01' %}
{% set prototypeMode = false %}

<!DOCTYPE html>
<html lang="en-US">

    <head>
        {% if seoDefaults.gtmContainerId is defined and seoDefaults.gtmContainerId | length %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ seoDefaults.gtmContainerId }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% set pageTitle = seoDefaults.seoTitle ~ ' ' ~ seoDefaults.seoTitleSuffix %}
        {% set socialTitle = seoDefaults.seoTitle %}
        {% set pageDescription = '' %}
        {% set socialImage = '' %}
        {% set canonicalUrl = craft.app.request.absoluteUrl %}

        {% if seoDefaults.socialMediaImage.count %}
            {% set socialImage = seoDefaults.socialMediaImage.one().url() %}
        {% endif %}
        
        {% if entry is defined %}
            {% if entry['seoTitle'] is defined and entry.seoTitle | length %}
                {% set pageTitle = entry.seoTitle ~ ' ' ~ seoDefaults.seoTitleSuffix %}
                {% set socialTitle = entry.seoTitle %}
            {% else %}
                {% set pageTitle = entry.friendlyTitle ~ ' ' ~ seoDefaults.seoTitleSuffix %}
                {% set socialTitle = entry.friendlyTitle %}
            {% endif %}
            {% if entry['seoDescription'] is defined and entry.seoDescription | length %}
                {% set pageDescription = entry.seoDescription %}
            {% endif %}
            {% if entry['canonicalUrl'] is defined and entry.canonicalUrl | length %}
                {% set canonicalUrl = entry.canonicalUrl %}
            {% endif %}
        {% endif %}

        <title>{{ pageTitle }}</title>

        {% if pageDescription | length %}
            <meta name="description" content="{{ pageDescription }}">
        {% endif %}
        {% if canonicalUrl | length %}
            <link rel="canonical" href="{{ canonicalUrl }}" />
            {% if entry is defined and (entry.section.handle == 'blogPost' or entry.section.handle == 'products') %}
                <link rel="amphtml" href="{{canonicalUrl}}/amp">
            {% endif %}
        {% endif %}

        {% if entry is defined %}
            {% if entry.ogTitle is defined and entry.ogTitle | length %}
                <meta property="og:title" content="{{ entry.ogTitle }}">
                <meta name="twitter:title" content="{{ entry.ogTitle }}">
            {% else %}
                <meta property="og:title" content="{{ socialTitle }}">
                <meta name="twitter:title" content="{{ socialTitle }}">
            {% endif %}

            {% if entry.ogDescription is defined and entry.ogDescription | length %}
                <meta property="og:description" content="{{ entry.ogDescription }}">
                <meta name="twitter:description" content="{{ entry.ogDescription }}">
            {% elseif pageDescription | length %}
                <meta property="og:description" content="{{ pageDescription }}">
                <meta name="twitter:description" content="{{ pageDescription }}">
            {% endif %}

            {% if entry.ogImage is defined and entry.ogImage != null and entry.ogImage.count %}
                <meta property="og:image" content="{{ entry.ogImage.one().url() }}">
                <meta name="twitter:image" content="{{ entry.ogImage.one().url() }}">
                <meta name="twitter:image:alt" content="{{ entry.ogImage.one().title }}">
            {% elseif socialImage | length %}
                <meta property="og:image" content="{{ socialImage }}">
                <meta name="twitter:image" content="{{ socialImage }}">
            {% endif %}
            
            <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
            <meta name="twitter:card" content="summary" />
        {% endif %}

        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" type='text/css' href="{{ url('\/css/main.min.css?v=') }}{{ resourceVersion }}">

        {% include '_includes/stylus' %}

        {% if prototypeMode %}
            <link rel="stylesheet" type='text/css' href="{{ url('\/css/prototype.min.css?v=') }}{{ resourceVersion }}">
        {% endif %}

    </head>

    <body{% if entry is defined %} id="{{ entry.slug }}"{% endif %}{% if prototypeMode %} class="prototype"{% endif %}>
        {% if seoDefaults.gtmContainerId is defined and seoDefaults.gtmContainerId | length %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ seoDefaults.gtmContainerId }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        
        {% include '_includes/header' %}

        {% block content %}
            <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        {% endblock %}

        {% include '_includes/footer' %}

        <!--BEGIN JAVASCRIPT-->
        {# <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> #}
        <script src="{{ url('\/js/site.min.js?v=') }}{{ resourceVersion }}"></script>

        {% if prototypeMode %}
            <script src="{{ url('\/js/prototype.min.js?v=') }}{{ resourceVersion }}"></script>
        {% endif %}

        {% block scripts %}{% endblock %}
        <!--END JAVASCRIPT-->
    </body>
</html>
